<!DOCTYPE html>
<html>
<head>
  <title>hello</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap-js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/css.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-warning">
  <a class="navbar-brand">node practice</a>
<div class="navbar-collapse" >
  <ul class="navbar-nav lead ml-auto" style="font-weight: 600;f">
    <li class="nav-item ">
      <a href="/home" class="nav-link">home</a>
    </li>
    <li>
      <a href="/shop" class="nav-link">shop</a>
    </li>
    <li class="nav-item">
      <a href="/product" class="nav-link">product</a>
    </li>
    <li>
      <a href="/cart" class="nav-link">cart</a>
    </li>
    <li>
      <a href="/order" class="nav-link">order</a>
    </li>
    <li>
      <a href="/Add_product" class="nav-link">Add Product</a>
    </li>
    <li>
      <a href="/Admin_product" class="nav-link">Admin Product</a>
    </li>
  </ul>
</div>
</nav>
<br>
<br>
<div>
  <center>
    <div class="col-md-3">
      <br>
      <div class="card-deck">
        <div class="card" style="border: 2px solid #0B21F7">
        <img src=#{id_data.Image} class="card-img-top" alt="..." style="height: 140px;">
        <div class="card-body">
        <h5 class="card-title">#{id_data.title}</h5>
        <p class="card-text"><b>description:</b><br>#{id_data.description}</p>
        <p class="card-text"><b>price:</b><br>
        <b>#{id_data.price}$</b></p>
        <div>
        <form action="/cart" method="POST">
          <button class="btn btn-primary" style="color:white;font-weight: 600;">Add to cart
          </button>
          <input type="hidden" name="productId" value="#{id_data.uid}">
          <input type="hidden" name="price" value="#{id_data.price}">
        </form>
        </div>
        </div>
        </div>
      </div>
    </div>
  </center>
</div>
</body>
</html>